% Author     :{{NAME}}
% Created    :{{TIMESTAMP}}
% Mail       :{{EMAIL}}

\documentclass{{{CURSOR}}}

% \usepackage[style=apa, backend=biber]{biblatex}
% \usepackage[american]{babel}

\begin{document}


\end{document}
